<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.ElderStateMapper">

    <resultMap id="BaseResultMap" type="com.user.pojo.ElderState">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userRealname" column="user_realname" jdbcType="VARCHAR"/>
            <result property="userHeight" column="user_height" jdbcType="VARCHAR"/>
            <result property="userWeight" column="user_weight" jdbcType="VARCHAR"/>
            <result property="userAllergyInfo" column="user_allergy_info" jdbcType="VARCHAR"/>
            <result property="last5BloodPressure" column="last_5_blood_pressure" jdbcType="OTHER"/>
            <result property="last5BloodLipids" column="last_5_blood_lipids" jdbcType="OTHER"/>
            <result property="last5BloodSugar" column="last_5_blood_sugar" jdbcType="OTHER"/>
            <result property="userBmi" column="user_bmi" jdbcType="VARCHAR"/>
            <result property="associatedGuardiansId" column="associated_guardians_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_realname,user_height,
        user_weight,user_allergy_info,last_5_blood_pressure,
        last_5_blood_lipids,last_5_blood_sugar,user_bmi,
        associated_guardians_id
    </sql>
</mapper>
