<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.ForumArticleMapper">

    <resultMap id="BaseResultMap" type="com.user.pojo.ForumArticle">
            <id property="articleId" column="article_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="postTime" column="post_time" jdbcType="TIMESTAMP"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="goodCount" column="good_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,user_id,nick_name,
        title,content,post_time,
        read_count,good_count,comment_count
    </sql>
</mapper>
